In [1]:
import pandas as pd
import pickle
import glob
import os
import re
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud

In [2]:
cleaned_data = pd.read_csv("data/processed/1_cleaned_data.csv")

In [9]:
len(max(cleaned_data['TEXT']))

5066

In [12]:
cleaned_data

,TEXT,behavior_tobacco,behavior_tobacco_binary
0,admission date discharge date date birth sex f...,1,0
1,admission date discharge date date birth sex f...,2,1
2,admission date discharge date date birth sex s...,4,1
3,admission date discharge date date birth sex s...,1,0
4,admission date discharge date date birth sex f...,3,1
...,...,...,...
7020,name known lastname known firstname initial na...,0,0
7021,name known lastname known firstname unit numer...,3,1
7022,name known lastname known firstname unit numer...,0,0
7023,name known lastname known firstname c unit num...,2,1
7024,name known lastname known firstname l unit num...,2,1